

#filter{
  //height: 80px;
  border-bottom: 1px solid #626262;
  .filter{
    height: 104px;
    &__list{
      width: 783px;
      &__item{
        margin-top: 44px;
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;

        color: #626262;
      }:nth-child(1){
               color: #327430;
             }
    }
  }
}