
#footer{
  height: 275px;
  background: #262626;
  .footer{
    &__logo{
      margin-top: 86px;
      width: 247px;
    }
    &__line{
      margin-top: 50px;
      width: 100%;
      height: 1px;
      background: #FFFFFF;
      mix-blend-mode: normal;
    }
    &__data{
      margin-top: 55px;
      font-family: $font-stack;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 13px;
      display: flex;
      align-items: flex-end;

      color: #FFFFFF;
    }
  }
}