

#hero{
  min-height: 473px;
  background: url("img/Restaurant/hero.png") no-repeat center/cover;

  .hero{
    position: relative;
    margin: 0 auto;
    &__info{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 104px 0;
      width: 505px;
      height: 266px;
      background: #FFFFFF;
      box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
      border-radius: 2px;
      &__title{
        margin-top: -106px;
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        line-height: 42px;
        display: flex;
        align-items: flex-end;

        color: $title-color;

      }
      &__items{
        width:  408px;;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &__subtitle{
          position: absolute;
          margin-top: 83px;
          font-family: $font-stack;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 16px;
          display: flex;
          align-items: flex-end;

          color: $subtitle-color;
        }
        &__btn{
          position: absolute;
          right: 41px;
          bottom: 48px;
          padding: 15px 22px;
          background: #262626;
          border: none;
          border-radius: 24px;
          font-family: $font-stack;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 15px;

          display: flex;
          align-items: flex-end;
          color: #FFFFFF;

        }
      }
    }
  }
}