
@media (max-width: 1280px){
  .container{
    max-width: 1205px;
  }

  #header .navbar__buttons__register {
    margin-right: 12px;
  }
  #snack .snack__info__items__title {
    font-size: 17.8px;
  }
  #snack .snack__info__items__subtitle {
    font-size: 15px;
  }
  #snack .snack__info__image__img {
    width: 165px;
  }
  #snack .snack__info {
    width: 570px;
    height: 157px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 995px;
  }

  #header {
    .navbar {
      &__logo {
      }

      &__buttons {
        &__register {
          margin-right: 6px;
        }
      }
    }
  }

  #snack .snack__info__items__title {
    font-size: 17.8px;
  }
  #snack .snack__info__items__subtitle {
    font-size: 15px;
  }
  #snack .snack__info__image__img {
    width: 165px;
  }
  #snack .snack__info {
    width: 467px;
    height: 157px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 830px;
  }

  .snack__row {
    //margin: 0 auto;
    flex-direction: column;
  }

  .snack__column {
    width: 100%;
  }

  #snack .snack__info {
    width: 98%;
    height: 180px;
    margin: 20px 20px
  }
  #snack .snack__info__image__img {
    width: 189px;
  }

  #snack .snack__info__items__title {
    font-size: 22.8px;
  }

  #snack .snack__info__items__subtitle {
    font-size: 19px;
  }
  #footer .footer__logo {
    margin-top: 86px;
    width: 195px;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    max-width: 605px;
  }
  #hero .hero {
    display: flex;
    justify-content: center;
  }

  #hero .hero__info {
    width: 460px;
    height: 242px;
  }

  #hero .hero__info__title {
    font-size: 40px;
  }

  #hero .hero__info__items {
    width: 345px;
  }
  #hero .hero__info__items__btn {
    font-size: 13px;
  }

  #filter .filter__list {
    width: 500px;
  }
  #filter .filter__list__item {
    font-size: 14px;
  }

  #snack .snack__info {
    height: 154px;
  }
  #snack .snack__info__image__img {
    width: 162px;
  }
  #snack .snack__info__items__title {
    font-size: 16.8px;
  }

  #snack .snack__info__items__subtitle {
    font-size: 16px;
  }

  #snack .snack__info__items__price {
    font-size: 16px;
  }


}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 481px;
  }

  #filter .filter__list {
    margin: 0 auto;
    width: 400px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    //.filter__list::-webkit-scrollbar {
    //  width: 0;
    //}
  }

  .filter__list__item {
    margin: 45px 32px;
    font-size: 20px;
  }


  #snack .snack__info {
    height: 145px;
  }

  #snack .snack__info__items__title {
    font-size: 14px;
  }

  #snack .snack__info__items__subtitle {
    font-size: 13px;
  }

  #snack .snack__info__items__price {
    font-size: 15px;
    color: $title-color;
  }

  #snack .snack__info__image__img {
    width: 152px;
  }

  #footer .footer__logo {
    margin-top: 86px;
    width: 155px;
  }

  #footer .footer__data {
    font-size: 11px;
  }



}

@media only screen and (max-width: 480px) {

  .container {
    max-width: 330px;
  }

  #header {
    padding: 7px 0;
    width: 100%;
  }

  #header .navbar__logo__item {
    width: 102px;
  }
  #header .navbar__buttons__register {
    padding: 6px 14px;
    font-size: 11px;
    margin-right: -8px;
  }
  #header .navbar__buttons__sign {
    margin-right: 10px;
    padding: 0 18px;
    font-size: 12px;
  }

  #hero {
    min-height: 255.89px;
    background: url('img/Restaurant/heroMobile.svg')
  }

  #hero .hero__info__title {
    margin-top: -1px;
    font-size: 24px;
  }

  #hero .hero__info {
    width: 309px;
    height: 180px;
    margin: 131px 0;
  }

  #hero .hero__info__items {
    height: 97px;
    width: auto;
    display: block;
  }

  #hero .hero__info__items__subtitle {
    position: initial;
    margin-top: 26px;
    margin-left: 9px;
    font-size: 14px;
  }
  #hero .hero__info__items__btn {
    padding: 9px 19px;
    font-size: 12.3px;
    position: initial;
    margin-left: 4px;
  }

  #filter {
    border-bottom: none;
  }

  #filter .filter__list .filter__list__item {
    font-size: 22px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1D1D;
    margin-top: 112px;
  }

  #filter .filter__list {
    width: 148px;
  }

  #snack {
    padding-bottom: 32px;
    padding-top: 89px;
  }

  #snack .snack__title {
    display: none;
  }

  #snack .snack__info__image__img {
    width: 102px;
    height: 102px;
  }
  #snack .snack__info {
    width: 96.4%;
    height: 102px;
    margin: 8px 20px;
    border-bottom: 1px solid #D8D8D8;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  #snack .snack__info__items__title {
    margin-top: 0;
    margin-left: 0;
    display: block;
    width: 171px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  #snack .snack__info__items__subtitle {
    margin-top: -4px;
    margin-left: 0;
  }

  #snack .snack__info__items__price {
    bottom: -2px;
    left: 0;
  }

  #footer {
    height: 234px;
    background: #262626;
  }

  #footer .footer__logo {
    margin-top: 54px;
    width: 188px;
  }
  #footer .footer__line {
    margin-top: 38.7px;
  }

  #footer .footer__data {
    font-size: 10.8px;
    margin-top: 41px;
  }
}

